@{
    ViewData["Title"] = "Download";
}

<div class="text-center">
    <br />
    <div class="container" id="indexSideLeft">
        <div class="row">
            <div class="col-sm-6">
                <h1>Download</h1>
                <br />
                <h3>To start viewing typed data in our reporting page, download our client to collect typed entries to monitor</h3>
                <br />
                <a class="btn btn-light" asp-page="">Download for Windows</a> <a class="btn btn-light" asp-page="">Download for MacOSX</a>
                <br />
                <br />
                <p>Runs on: <img src="~/images/windowslogo.jpg" width="35" height="35" alt="windowslogo" /><img src="~/images/applelogo.png" width="30" height="30" alt="applelogo" /></p>
            </div>
            <div class="col-sm-6">
                <img src="~/images/MiSpy_Logo.png" alt="MiSpyLogo" id="downloadCentreImg" />
            </div>
        </div>
        <br />
        <!-- New Row -->
        <div class="row">
            <div class="col-sm-6">
                <br />
                <h1>Set up Steps:</h1>
                <br />
                <br />
                <h3>Follow the installation steps as instructed by the installer:</h3>
            </div>
            <div class="col-sm-6">
                <img src="~/images/installguideimg/dummyinstallwindow.png" width="500" height="350" alt="Installation Guide Image" />
            </div>
        </div>
        <br />
        <br />
        <!-- New Row -->
        <div class="row">
            <div class="col-sm-6">
                <img src="~/images/installguideimg/windowsstartmenu.png" width="400" height="300" alt="Start Menu Image" />
            </div>
            <div class="col-sm-6">
                <br />
                <h1>Run the Application</h1>
                <br />
                <br />
                <h3>Once the Installation is successful, run the application. This can be found in your Start Menu on your Operating System</h3>
            </div>
        </div>
        <br />
        <br />
        <!-- New Row -->
        <div class="row">
            <div class="col-sm-6">
                <br />
                <h1>Log in:</h1>
                <br />
                <br />
                <h3>Log in using your Mi-Spy credentials, we'll then start sending logged events to your account to view using our reporting page!</h3>
            </div>
            <div class="col-sm-6">
                <img src="~/images/installguideimg/dummyloginscreen.jpg" width="400" height="300" alt="Login Guide Image" />
            </div>
        </div>
        <br />
    </div>

</div>